<nav>
    <div>
        <strong>Simulador Exámenes Técnicos</strong>
    </div>
    <div>
        <a href="/bancos" class="btn-crear">Inicio (Comunidad)</a>
        <a href="/dashboard" class="btn-crear">Mis Bancos</a>
        <a href="/retos" class="btn-crear">Retos de Código</a>
        <a href="/bancos/crear" class="btn-crear">+ Crear Banco</a>
        <a href="/retos/crear" class="btn-crear">+ Crear Reto</a>
        <a href="/logout" class="btn-logout">Cerrar Sesión</a>
    </div>
</nav>